# ========= #
# Specifics #
# ========= #
*/GraphicsSettings.asset

*/GoogleAarExplodeCache.xml
/Assets/Plugins/iOS/*.meta
/Assets/Plugins/Android/*.meta
/Assets/Plugins/iOS/*.aar
/Assets/Plugins/Android/*.aar

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
CharacterMovement/[Ll]ibrary/
ATB/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
/*/[Ll]ibrary/
*/Library/
ShaderProject/Assets/Particle Dynamics Magic

 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini




Assets/Plugins/Android/libs/x86/libgpg.so.meta
Assets/Plugins/Android/libs/armeabi-v7a/libgpg.so.meta

